<div id="accept-page" class="header-offset">
  <form>
    <b>Customer ID:</b> <span ng-bind="customerID"></span><br>
    <b>Name:</b> <span ng-bind="customerName"></span> <br>
    <b>Address:</b> <span ng-bind="customerAddress"></span> <br>
    <b>Phone Number:</b> <span ng-bind="customerPhone"></span> <br>
    <b>Distance:</b> <span ng-bind="travelDistance"></span> <br>
    <b>Time Frame:</b> <span ng-bind="timeFrame"></span> <br>
    <a href="partials/measurements.html"><button type="button" class="btn btn-primary">Accept Request</button></a>
  </form>
</div>