<!DOCTYPE html>

<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"></head>

<body>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

  <br/><br/>
  <h1>Our Recommendations</h1>

<div class="card-deck">
  <div class="card">
  <a href="http://www.bestbuy.ca/en-ca/product/general-electric-ge-30-20-9-cu-ft-bottom-freezer-refrigerator-with-led-lighting-gde21dskss-stainless-steel-gde21dskss/10426035.aspx?">
    <img class="card-img-top" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/103/10395/10395441.jpg" alt="Card image cap" class="img-rounded" alt="Cinque Terre" width="236" height="236">
    </a>
    <div class="card-block">
      <h4 class="card-title">GE 30" 20.9 Cu. Ft. Bottom Freezer Refrigerator with LED Lighting (GDE21DSKSS) - Stainless Steel</h4>
      <p class="card-text">A place for everything, and everything in its place. That's this GE Energy Star refrigerator in a nutshell. Sporting a 20.9 cu. ft. capacity, it features a bottom-freezer design that keeps all your go-to foods conveniently at eye level...</p>
      <a href="http://www.bestbuy.ca/en-ca/product/general-electric-ge-30-20-9-cu-ft-bottom-freezer-refrigerator-with-led-lighting-gde21dskss-stainless-steel-gde21dskss/10426035.aspx?">
      <p class="card-text"><small class="text-muted">More</small></p>
      </a>
    </div>
  </div>
  <div class="card">
  <a href= "http://www.bestbuy.ca/en-ca/product/insignia-insignia-36-20-8-cu-ft-french-door-refrigerator-ns-rfd21ss7-stainless-steel-ns-rfd21ss7/10459792.aspx?">
    <img class="card-img-top" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/104/10459/10459792.jpg" alt="Card image cap" class="img-rounded" alt="Cinque Terre" width="236" height="236">
    </a>
    <div class="card-block">
      <h4 class="card-title">Insignia 36" 20.8 Cu.Ft. French Door Refrigerator (NS-RFD21SS7) - Stainless Steel</h4>
      <p class="card-text">Convenience and capacity meet in this Insignia NS-RFD21SS7 20.8 cu. ft. French-door refrigerator. It features Dual Cycle and Dual Air-Cooling refrigerant system and Moisture-Retention technology keeps temperatures consistent to preserve contents...</p>
       <a href= "http://www.bestbuy.ca/en-ca/product/insignia-insignia-36-20-8-cu-ft-french-door-refrigerator-ns-rfd21ss7-stainless-steel-ns-rfd21ss7/10459792.aspx?">
      <p class="card-text"><small class="text-muted">More</small></p>
      </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/104/10451/10451343.jpg" alt="Card image cap" class="img-rounded" alt="Cinque Terre" width="236" height="236">
    <div class="card-block">
      <h4 class="card-title">Insignia 30" 18 Cu. Ft. Top Freezer Refrigerator with LED Lighting (NS-RTM18WH7) - White</h4>
      <p class="card-text">Keep all of your supermarket finds fresh or frozen with this Insignia 18 cu. ft. fridge. It features a top-mount freezer that keeps all of your favourite frozen treats at a convenient level. The fresh food compartment includes 2 adjustable spill-proof...</p>
      <p class="card-text"><small class="text-muted">More</small></p>
    </div>
  </div>
</div>

<br/>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/105/10563/10563896.jpg" alt="Card image cap" class="img-rounded" alt="Cinque Terre" width="236" height="236">
    <div class="card-block">
      <h4 class="card-title">Samsung 36" 27.9 Cu Ft 4-Door French Door Refrigerator with Family Hub (RF28K9580SR)-Stainless Steel</h4>
      <p class="card-text">Welcome to the Samsung Family Hub refrigerator. It features a 21.5" Wi-Fi-enabled touchscreen on the door to put a kitchen command center at your fingertips. It covers food management, family connection, and kitchen entertainment...</p>
      <p class="card-text"><small class="text-muted">More</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/103/10394/10394469.jpg" alt="Card image cap" class="img-rounded" alt="Cinque Terre" width="236" height="236">
    <div class="card-block">
      <h4 class="card-title">LG 30" 21.8 Cu. Ft. French Door Refrigerator - Stainless Steel</h4>
      <p class="card-text">Enjoy both exceptional functionality and sleek style with this LG 22 cu. ft. French door refrigerator. The French door design keeps frequently accessed fresh foods at eye level, while the stainless steel finish exudes a look of luxury.The Multi-Air Flow system also keeps your food at optimal temperatures to keep them fresher for longer.</p>
      <p class="card-text"><small class="text-muted">More</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/102/10211/10211020.jpg" alt="Card image cap" class="img-rounded" alt="Cinque Terre" width="236" height="236">
    <div class="card-block">
      <h4 class="card-title">Samsung 30" 21.6 Cu. Ft. French Door Refrigerator with LED Lighting - Stainless Steel</h4>
      <p class="card-text"> The Samsung RF220 is a French door refrigerator that's 30" wide and it should fit nicely in almost any kitchen. Don't be fooled by the fridge's compact size; it offers a whopping 21.6 cu. ft. capacity for all of your refrigeration needs.</p>
      <p class="card-text"><small class="text-muted">More</small></p>
    </div>
  </div>
 </div>
 </div>
  <div class="col-md-2"></div>
</div>
<br/>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-2"><a href=""> More </a></div>
  <div class="col-md-1"></div>
</div>

<br/><br/><br/>


<script>
function readTextFile(file)
{
    var rawFile = new XMLHttpRequest();
    var allText;
    rawFile.open("GET", file, false);
    rawFile.onreadystatechange = function ()
    {
        if(rawFile.readyState === 4)
        {
            if(rawFile.status === 200 || rawFile.status == 0)
            {
                allText = rawFile.responseText;
            }
        }
    }
    rawFile.send(null);
}

readTextFile("./fridge.json");
</script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>